/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: #AC2318;
	--color-secondary: #D9D9D9;
	background-color: #D9D9D9;
}

h1 {
	color: var(--color-primary);
}
h2 {
	color: black;
}

.start1 {
	color: white;
	text-decoration: none;
	font-family: coiny;

}

.start button {
	background-color: #441500;
	padding: 1% 4%;  
	border-radius: 2em;
	font-size: 40px
}
.start1:hover {
	color: #AC2318;
}
.continue {
	width: 100%;
	display: flex;
	font-family: coiny;
	text-decoration: none;
	color: white;
	font-size: 25px
}
.continue button {
	margin-left: auto; 
	margin-right: 0;
	padding: 10px;
	background-color: #441500;
	border-radius: 2em;
	padding: 1% 4%;  
}
.continue:hover {
	color:#AC2318
}

.quit {
	width: 100%;
	display: flex;
	font-family: coiny;
	text-decoration: none;
	color: white;
	font-size: 25px;
}
.quit button {
	background-color: #441500;
	border-radius: 2em;
	padding: 1% 4%; 
}
.quit:hover {
	color:#AC2318
}
.play_again {
	width: 100%;
	display: flex;
	font-family: coiny;
	text-decoration: none;
	color: white;
	font-size: 25px
}
.play_again button {
	background-color: #441500;
	border-radius: 2em;
	padding: 1% 4%; 
}
.play_again:hover {
	color:#AC2318
}

.food_grid ul {
	display: flex;
	width: 100%;
	list-style: none;
	justify-content: space-evenly;
}
.food_grid li {
	max-width: 100%;
	height: auto;
	padding: 20px;
	margin: 10px;

}

.sub_food_grid ul{
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 columns */
	grid-template-rows: repeat(2, 1fr); /* 2 rows */
	list-style: none; /* Remove default list styling */
}

.sub_food_grid li {
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.sub_food_grid_two ul{
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 3 columns */
	grid-template-rows: repeat(2, 1fr); /* 2 rows */
	list-style: none; /* Remove default list styling */
}

.sub_food_grid_two li {
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.bowl1_image {
	max-height: 100%;
	width: 300px;
}
.burrito1_image {
	max-height: 100%;
	width: 300px;
}
.lifestyle_bowl_image {
	max-height: 100%;
	width: 300px;
}
.brown_rice_image {
	max-height: 100%;
	width: 200px;
}
.white_rice_image {
	max-height: 100%;
	width: 200px;
}
.black_beans_image {
	max-height: 100%;
	width: 200px;
}
.pinto_beans_image {
	max-height: 100%;
	width: 200px;
}
.steak_image {
	max-height: 100%;
	width: 150px;
}
.beef_image {
	max-height: 100%;
	width: 150px;
}
.veggies_image {
	max-height: 100%;
	width: 150px;
}
.chicken_image {
	max-height: 100%;
	width: 150px;
}	
.lettuce_image {
	max-height: 100%;
	width: 100px;
}
.sour_cream_image {
	max-height: 100%;
	width: 100px;
}
.cheese_image {
	max-height: 100%;
	width: 100px;
}
.hot_salsa_image {
	max-height: 100%;
	width: 100px;
}
.corn_image {
	max-height: 100%;
	width: 100px;
}
.guac_image {
	max-height: 100%;
	width: 100px;
}
.queso_image {
	max-height: 100%;
	width: 100px;
}
.salsa_image {
	max-height: 100%;
	width: 100px;
}
.green_salsa_image {
	max-height: 100%;
	width: 100px;
}